/* Globales */
html{
    box-sizing:border-box; /*HACK para box model*/
}

*,*:before, *:after{
    box-sizing: inherit;
}

body{
    background-image: url(/img/licores.png);
    font-family: 'Poppins', sans-serif;
}

*{
    margin:0;
    padding: 0;
}

.contenido{
    display: flex;
    width: 100vw;
}
.cuerpo{
    display: flex;
    flex-direction: column;
    width: 75vw;
}

.banner{
    display: flex;
    justify-content: center;
    height: 10vh;
}

.banner p{
    font-size: 2rem;
    color:white;
    margin: auto;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-style: italic;
    
}



.lateral{
    background-image: url(/img/restaurant.png);
    border:solid 3px grey;
    opacity: .50;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
}

.lateral a {
    font-size: 2rem;
    color:black;
}

.lateral a:hover{
    background-color: rgb(0,0,66);
    padding-right: .5rem;
    color:white;
}

.lateral svg:hover{
    color: rgb(0,0,66);
}


.principal{
    display: flex;
    flex-direction: row;
    height: 80vh;
}

.shadow{
    -webkit-box-shadow: -14px 9px 24px -16px rgba(23,23,23,1);
    -moz-box-shadow: -14px 9px 24px -16px rgba(23,23,23,1);
    box-shadow: -14px 9px 24px -16px rgba(23,23,23,1)
}

.izquierda{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

img{
    width: 400px;
    height: 200px;
    border:2px solid #fff;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
    
}

.izquierda p{
    padding: .5rem;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color: gainsboro;

}


.derecha{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.derecha p{
    padding: 3rem 1rem 0 1rem;
    text-align: justify;
    font-size: 1.040rem;
    font-weight: 600;
    color: white;
    
}

.pie{ 
    text-align: center;
    height: 10vh;
}

.pie p{
    color: grey;
    padding-top: 1rem;
    font-size: .85rem;
    font-weight: bold;
}

